 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 
 .container{
    /* margin: 60px auto; */
    /* background-color: palegoldenrod; */
 }
 
 
 .desktop{
    display: flex;
    /* position: relative; */
    /* border-bottom: 1px solid white; */
    position: fixed;
    width: 85%;
    /* top: 0; */
    /* border: 1px solid red; */
    /* left: 50px; */
    align-items: center;
    background-color: rgba(165, 42, 42, 0.315);
    padding: 5px 90px;
    /* justify-content: center; */
    justify-content: space-between;
    /* gap: 370px; */
 }
 a:hover{
   color: yellow; 
 }
 
 .ulone{
    display: flex;
    list-style-type: none;
    /* position: absolute; */
    /* left: 350px; */
    /* border: 1px solid green; */
    padding: 0px 140px;
    /* width: 90%; */
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-evenly; */
    
 }
 .super{
    font-size: 60px;
 }
 .hero1{
    margin:140px;
    /* border: 1px solid red; */
    width: 60%;
    padding: 40px 10px;
    color: white;
    
 }
 .pstyle{
   /* border: 1px solid red; */
   padding: 10px 50px;
   font-style: italic;
 }
 .imghero{
    width: 90%;
    margin: 300px 10px;
 }
 a{
 text-decoration: none;
 color: white;
 }
 .reserve{
   color: white;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(16.24 100 50);
    opacity: 0.8;
 }
 .preserve:hover{
   background-color: white;
   color: black;
 }
 .reservenav:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;
   
 }
 .order:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;}
      .deliver:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;}
   .foodies:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;}
   
 .about{
    width: 40%;
 }
 .section1, .section2, .section3, .div4, .section5, .section{
    display: flex;
 }
 .section2, .container4, .section7, .section9{
   background-color: HSL(240 66.67 94.12);
 }
 
 .hero{
      background-image: url(hero-bg.jpg);
      background-repeat: no-repeat;
      height: 800px;
      
 }
 .hero1{
    align-items: center;
 }
 
 
 .div2, .divfour{
    margin: 150px auto;
    background-color: white;
    text-align: center;
    padding: 40px;
    /* height: 450px; */
    width: 19%;
 }


 .div2:hover{
   background-color:yellow;
   transform: translateY(0);
   /* transition:ease-in-out 1.5s; */
 }
 .divfour{
   /* position: relative; */
    width: 30%;
    margin:15px auto;
    /* margin: 20px; */
    /* border: 1px solid red; */
 }
 .show{
   display: none;
   color: #000;
   position: absolute;
   background-color: yellow;
   width: 10%;
   /* height: 15px;   */
   text-align: center;
   padding: 10px 0px;
   margin: 160px 140px;
 }
 .divfour:hover .show{
   display: block;
 }
 .tohover{
   display: none;
 }

 .img2, .img4{
    width: 50%;
   display: flex;
   justify-self: center;
 }
 .img2{
    width: 70%;
 }
 .section4{
   /* border: 1px solid red; */
   padding: 60px;
 }
 .section3{
    gap: 80px;
    width: 90%;
    margin: 50px auto;
 }
  .fa-star{
    color: yellow;
    /* height: 30px; */
 }
 .dish{
    color: red;
 }
 span{
    color: yellow;
 }
 .liboard{
    /* border: 1px solid red; */
    /* width: 55px; */
    /* height: 30px; */
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: white;
 }
 .pone{
    /* border: 1px solid red; */
    width: 35%;
    justify-self: center;
 }
 .div4{
    /* justify-content: center; */
    /* width: 100%; */
    /* font-size: 10px; */
    /* height: 400px; */

 }
 .star{
    display: flex;
    justify-content: center;
 }
 .img4{
    width: 60%;
    /* padding:50px; */
 }
 .section4{
    text-align: center;
    /* margin: 70px ; */
    /* margin-bottom: 80px; */
    /* padding: 90px;    */
    /* border: 1px solid red; */
 }
 .container4{
   /* line-height: 10px; */
   /* border: 3px solid green; */
   /* margin-bottom: 10px ; */
   /* height: 100%; */
 }
 .ulone, .list2{
    display: flex;
    list-style-type: none;
    gap: 50px ;
    justify-self: center;
 }
 .section5{
    /* border: 2px solid red; */
    font-size: 25px;
    align-items: center;
    background-image: url(hero-bg.jpg);
    background-repeat: no-repeat;

 }
 .foodie{
    margin: 70px;
 }
 .imgfood{
    width: 600px;
 }
 .pfood{
    /* border: 1px solid red; */
    width: 88%;
    line-height: 28px;
 }
 p{
    font-size: 18px;
 }
 .section6{
    /* border: 2px solid red; */
    /* width: 70%; */
    display: flex;
 }
 .img6{
    width: 100%;
    height: 400px;
 }
 .divsix{
    /* border: 1px solid red; */
    width: 47%;
    margin: 80px;
 }
 .divseven{
    display: flex;
    /* align-items: center; */
    /* width: 90%; */
    /* height: 300px; */
   
    
 }
 .dseven{
    /* border: 1px solid red;    */
    margin: 5px;
    background-color: white;
         
 }
 .img7{
    width: 20%;
    margin: 20px;
    border-radius: 50%;
    
 }
 .avatar{
   display: flex;
   /* border: 1px solid red; */
   align-items: center;
   /* margin: 30px auto; */
   
   /* width: 80%; */
   /* align-items: center; */
   /* justify-content: center; */
   
 }
 .pavatar{
   /* border: 1px solid red; */
   width: 90%;
   margin: 10px auto;
 }
 .section7{
    justify-items: center;
    /* border: 1px solid red; */
    /* height: 500px; */
    padding: 60px;
    
 }
 .div81{
    background-image: url(banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 50%; */
    margin: 3px 20px;
    /* height: 380px; */
 }
 .div82{
    background-image: url(banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 50%; */
    /* margin: 50px; */
    padding: 40px 30px;
    /* height: 190px; */
    
 }
 
 .div83{
    background-image: url(banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 50%; */
    /* margin: 50px; */
    padding: 40px;
    /* height: 190px; */
    
    
 }
 .div84{
    background-image: url(banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* margin: 50px; */
    padding: 50px;
    /* border: 1px solid red; */
    /* height: 173px; */
 }
 .section8{
    display: flex;
    width: 70%;
    margin:40px auto;
    /* margin-top: 100px; */
    /* border: 1px solid red; */
    /* height: 400px; */
    
 }
 .tfood{
   width: 50%;
 }
  .div822{
    display: flex;
    margin: 18px auto;
    /* height: 195px; */
    /* width: 100%; */
    gap: 10px;
    
  }
  .h11{
    color: white;
  }
  .section9{
   /* margin-top: 200px; */
    text-align: center;
    padding: 30px;
    font-size: 10px;
   
  }
  .blog{
    display: flex;
    /* border: 1px solid red; */
    width: 90%;
    justify-self: center;
    
    /* gap: 20px; */
    
  }
  .imgblog{
    width: 100%;
  }
  .blog1{
    /* border: 1px solid red; */
    background-color: white;
    margin:10px;
    /* width: 30% ; */
  }
  .all{
   background-color: yellow;}
   .mark{
   /* border: 1px solid red; */
      background-color: yellow;
      color: white;
      border-radius: 50%;
}
.price{
   color: red;
}
.linet{
   color: grey;
   text-decoration: line-through;
}
.discount{
   /* border: 1px solid red; */
   width: 35%;
   color: white;
   background-color: red;
   margin: 20px ;
   /* position: absolute; */
   
}
.white{
   color: white;
}
.mob{
   display: none;
} 
  @media screen and (max-width:426px) {
   .desktop{
      display: none;
   }
   .container{
      width: 99%;
      /* border: 2px solid red; */
   }
   .hero1{
      /* border: 1px solid red; */
      margin: auto;
   }
   .lone{
   display: none; 
}
.show{
   width: 30%;
   /* height: 15px;   */
   text-align: center;
   padding: 10px 0px;
   margin: 50px 50px;
}
.liboard{
   width: 90%;
}
.reserve{
   /* border: 2px solid yellow; */
}
.section3{
   /* border: 2px solid green; */
   /* width: 56%; */
}
.cali{
   /* font-size: smaller; */
}
.preserve{
   /* border: 1px solid red; */
   /* width: 60%; */
}
.banner{
   /* border: 2px solid red; */
   /* width: 10%; */
}

.lone a{
   color: #000;
}
.mob{
   /* width: 10%; */
   /* width: 20%; */
   /* border: 2px solid red; */
}
.ham{
   position: relative;
   /* border: 2px solid green; */
   font-size: smaller;
   margin: 0px 50px;
}
.ham:hover .lone{
   /* display: block; */
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   background-color: #fff;
   gap: 10px;
   padding: 8px 15px;
   list-style-type: none;
   position: absolute;
   top: 10px;
}
.mob{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 98%;
   /* gap: 20px; */
   position: fixed;
    background-color: rgba(165, 42, 42, 0.315);
}

     .section1, .section2, .section3, .div4, .list2, .section6, .section5, .section9 {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .container{
      /* border: 2px solid red; */
      /* overflow: hidden; */
    }
    .divseven, .div822, .blog{
      flex-direction: column;
    }
    .dseven{
      /* border: 2px solid red; */
      /* height: 150px; */
    }
    .divfour, .dseven, .blog1{
      width: 100%;
    }
    
   
    .ulone{
      flex-direction: column;
    }
    .reserve.desktop{
      display: none;
    }
  

 .div81{
    background-image: url(banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    /* height: 400px; */
    /* margin: 18px; */
 }
 .div82{
    background-image: url(banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
 }
 
 .div83{
    background-image: url(banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
     
 }
 .div84{
    background-image: url(banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* border: 1px solid red; */
    /* height: 250px; */
 }
 .section8{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 80%;
    margin-bottom: 70px;
    margin-top: 60px;
    /* border: 1px solid red; */
    
 }
 .tfood{
   width: 100%;
 }
  .div822{
    display: flex;
    margin: 18px auto;
    /* height: 195px; */
    /* width: 100%; */
    gap: 10px;
    
  }
  
    .div2{
        width: 90%;
        margin: 20px;
    }
    .img2, .imgfood, .img6{
      width: 70%;
    }
    .super{
      font-size: 20px;
      width: 100%;
    }
    .imghero{
      display: none;
    }
    .pfood{
      /* border: 1px solid red; */
      width: 100%;
      text-align: center;
    }
    .preserve{
      justify-self: center;
    }
    .banner{
      width: 100%;
    }
    .section7{
      /* height: 1000px; */
    }
    .section9{
    text-align: center;
    margin-top:auto;
    /* padding: 10px; */
    /* font-size: 10px; */
   /* border: 1px solid red; */
   }
   .section8{
    /* display: flex; */
    width: 100%;
    margin:40px auto;
    /* border: 1px solid red; */
    /* height: 100px; */ 
}
.div81{
   /* margin-top: 540px; */
}
  }
  @media screen and (min-width:427px) and (max-width:800px) {
   .container{
      /* border: 2px solid red; */
      width: 100%;
   }
   .desktop{
      border: 1px solid;
      width: 85%;
      padding: 5px 10px;
      justify-content: space-evenly;
      
      /* width: 50%; */
   }
   .reservenav{
      margin: 10px 10px;
      width: 40%;
      /* border: 2px solid green;    */
   }
   .banner, .imgfood{
      width: 80%;
   }
   .section8{
      margin: 10px;
   }
  }