 .container{
    /* margin: 60px auto; */
    /* background-color: palegoldenrod; */
 }
 
 
 .desktop{
    display: flex;
    /* position: relative; */
    /* border-bottom: 1px solid white; */
    position: fixed;
    width: 97%;
    /* top: 0; */
    /* border: 1px solid red; */
    /* left: 50px; */
    align-items: center;
    background-color: rgba(165, 42, 42, 0.315);
    padding: 5px 10px;
    /* justify-content: center; */
    justify-content: space-between;
    /* gap: 370px; */
 }
 a:hover{
   color: yellow; 
 }
 

 
 
 .ulone{
    display: flex;
    list-style-type: none;
    /* position: absolute; */
    /* left: 350px; */
    /* border: 1px solid green; */
    /* width: 90%; */
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
    
 }
 .super{
    font-size: 60px;
 }
 .hero1{
    margin:70px;
    /* border: 1px solid red; */
    width: 50%;
    color: white;
 }
 .imghero{
    width: 70%;
    margin: 100px auto;
 }
 a{
 text-decoration: none;
 color: white;
 }
 .reserve{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
 }
 .about{
    width: 40%;
 }
 .section1, .section2, .section3, .div4, .section5, .section{
    display: flex;
 }
 .section2, .container4, .section7, .section9{
   background-color: HSL(240 66.67 94.12);
 }
 .hero{
      background-image: url(hero-bg.jpg);
      background-repeat: no-repeat;
 }
 .hero1{
    align-items: center;
 }
 
 
 .div2, .divfour{
    margin: 150px auto;
    background-color: white;
    text-align: center;
    height: 450px;
    width: 19%;
 }
 .divfour{
   position: relative;
    width: 30%;
    margin:15px auto;
    /* margin: 20px; */
    /* border: 1px solid red; */
 }

 .img2, .img4{
    width: 50%;
   display: flex;
   justify-self: center;
 }
 .img2{
    width: 70%;
 }
 .section3{
    gap: 80px;
    width: 90%;
    margin: 50px auto;
 }
  .fa-star{
    color: yellow;
 }
 .dish{
    color: red;
 }
 span{
    color: yellow;
 }
 .liboard{
    /* border: 1px solid red; */
    width: 65px;
    background-color: white;
 }
 .pone{
    /* border: 1px solid red; */
    width: 35%;
    justify-self: center;
 }
 .div4{
    /* justify-content: center; */
    /* width: 100%; */
    /* font-size: 10px; */
    /* height: 400px; */

 }
 .star{
    display: flex;
    justify-content: center;
 }
 .img4{
    width: 60%;
    padding:50px;
 }
 .section4{
    text-align: center;
    /* margin: 70px ; */
    /* margin-bottom: 80px; */
    padding: 40px;
    /* border: 1px solid red; */
 }
 .container4{
   /* line-height: 10px; */
   /* border: 3px solid green; */
   /* margin-bottom: 10px ; */
   /* height: 100%; */
 }
 .ulone, .list2{
    display: flex;
    list-style-type: none;
    gap: 50px ;
    justify-self: center;
 }
 .section5{
    /* border: 2px solid red; */
    font-size: 25px;
    align-items: center;
    background-image: url(hero-bg.jpg);
    background-repeat: no-repeat;

 }
 .foodie{
    margin: 70px;
 }
 .imgfood{
    width: 600px;
 }
 .pfood{
    /* border: 1px solid red; */
    width: 78%;
 }
 p{
    font-size: 18px;
 }
 .section6{
    /* border: 2px solid red; */
    /* width: 70%; */
    display: flex;
 }
 .img6{
    width: 100%;
    height: 400px;
 }
 .divsix{
    /* border: 1px solid red; */
    width: 47%;
    margin: 80px;
 }
 .divseven{
    display: flex;
    /* align-items: center; */
    /* width: 90%; */
    height: 300px;
   
    
 }
 .dseven{
    /* border: 1px solid red;    */
    margin: 5px;
    background-color: white;
         
 }
 .img7{
    width: 20%;
    margin: 20px;
    border-radius: 50%;
    
 }
 .avatar{
   display: flex;
   /* border: 1px solid red; */
   align-items: center;
   /* margin: 30px auto; */
   
   /* width: 80%; */
   /* align-items: center; */
   /* justify-content: center; */
   
 }
 .section7{
    justify-items: center;
    /* border: 1px solid red; */
    height: 500px;
    padding: 60px;
    
 }
 .div81{
    background-image: url(banner-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 400px;
    margin: 18px;
 }
 .div82{
    background-image: url(banner-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    
 }
 
 .div83{
    background-image: url(banner-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    
    
 }
 .div84{
    background-image: url(banner-4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 100%; */
    /* border: 1px solid red; */
    height: 250px;
 }
 .section8{
    display: flex;
    width: 80%;
    margin:40px auto;
    /* border: 1px solid red; */
    
 }
 .tfood{
   width: 50%;
 }
  .div822{
    display: flex;
    margin: 18px auto;
    /* height: 195px; */
    /* width: 100%; */
    gap: 10px;
    
  }
  .h11{
    color: white;
  }
  .section9{
    text-align: center;
    padding: 30px;
    font-size: 10px;
   
  }
  .blog{
    display: flex;
    /* border: 1px solid red; */
    width: 90%;
    justify-self: center;
    
    /* gap: 20px; */
    
  }
  .imgblog{
    width: 100%;
  }
  .blog1{
    /* border: 1px solid red; */
    background-color: white;
    margin:10px;
    /* width: 30% ; */
  }
  .all{
   background-color: yellow;}
   .mark{
   /* border: 1px solid red; */
      background-color: yellow;
      color: white;
      border-radius: 50%;
}
.price{
   color: red;
}
.linet{
   color: grey;
   text-decoration: line-through;
}
.discount{
   border: 1px solid red;
   width: 15%;
   color: white;
   background-color: red;
   position: absolute;
   top: 30px;
   left: 25px;
}
.mob{
   display: none;
} 
  @media screen and (max-width:426px) {
   .desktop{
      display: none;
   }
   .lone{
   display: none;
  
}
.lone a{
   color: #000;
}
.ham{
   position: relative;
   /* border: 2px solid green; */
}
.ham:hover .lone{
   /* display: block; */
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   background-color: #fff;
   gap: 10px;
   padding: 8px 15px;
   list-style-type: none;
   position: absolute;
   top: 10px;
}
.mob{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   /* gap: 20px; */
   position: fixed;
    background-color: rgba(165, 42, 42, 0.315);
}

     .section1, .section2, .section3, .div4, .list2, .section6, .section5 {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container{
      /* border: 2px solid red; */
      /* overflow: hidden; */
    }
    .divseven, .div822, .blog{
      flex-direction: column;
    }
    .divfour, .dseven, .blog1{
      width: 100%;
    }
    
   
    .ulone{
      flex-direction: column;
    }
    .reserve.desktop{
      display: none;
    }
  

    
 .div81{
    background-image: url(banner-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    /* height: 400px; */
    /* margin: 18px; */
 }
 .div82{
    background-image: url(banner-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    
 }
 
 .div83{
    background-image: url(banner-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    
    
 }
 .div84{
    background-image: url(banner-4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* border: 1px solid red; */
    height: 250px;
 }
 .section8{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin:10px auto; */
    border: 1px solid red;
    
 }
 .tfood{
   width: 100%;
 }
  .div822{
    display: flex;
    margin: 18px auto;
    /* height: 195px; */
    /* width: 100%; */
    gap: 10px;
    
  }
  
    
   
    
    .div2{
        width: 90%;
        margin: 20px;
    }
    .img2, .imgfood{
      width: 50%;
    }
    .super{
      font-size: 20px;
      width: 100%;
    }
    .imghero{
      display: none;
    }
    .pfood{
      /* border: 1px solid red; */
      width: 100%;
      text-align: center;
    }
    .preserve{
      justify-self: center;
    }
    .banner{
      width: 100%;
    }
    .section7{
      height: 1000px;
    }
    
   }
 