 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 

 .desktop{
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: red;
    padding: 5px 90px;
    justify-content: space-between;

 }
 a:hover{
   color: yellow; 
 }
 
 .ulone{
    display: flex;
    list-style-type: none;
    padding: 0px 60px;
    align-items: center;
    
 }
 .super{
    font-size: 70px;
 }
 .hero1{
    margin:250px 100px;
    width: 60%;
    padding: 0px 0px;
    color: white;
    
 }
 .pstyle{
   padding: 40px 50px;
   font-style: italic;
 }
 .pfood{
   margin: 20px 10px;
 }
 .imghero{
    width: 90%;
    margin: 300px 10px;
 }
 a{
 text-decoration: none;
 color: white;
 }
 .reserve{
   color: white;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(16.24 100 50);
    opacity: 0.8;
 }
 .preserve:hover{
   background-color: white;
   color: black;
 }
 .reservenav:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;
   
 }
 .order:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;}
      .deliver:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;}
   .foodies:hover{
   background-color: #000;
   transition: 2s;
   transition-timing-function: ease;}
   
 .about{
    width: 40%;
 }
 .section1, .section2, .section3, .div4, .section5, .section{
    display: flex;
 }
 .section2, .container4, .section7, .section9{
   background-color: HSL(240 66.67 94.12);
 }
 
 .hero{
      background-image: url(hero-bg.jpg);
      background-repeat: no-repeat;
      height: 800px;
      
 }
 .hero1{
    align-items: center;
 }
 
 
 .div2, .divfour{
    margin: 150px auto;
    background-color: white;
    text-align: center;
    padding: 70px 10px;
    width: 19%;
 }
 .foods{
   margin: 15px 0 ;
 }
 .cali{
   
   margin: 30px;
   width: 50%;
   font-size: 35px;
 }
 .pcali{
   margin: 30px;
   line-height: 25px;
   
   width: 89%;
 }
 .markicon{
   padding: 25px;
   line-height: 30px;
   
 }


 .div2:hover{
   background-color:hsl(38.82 100 50);
   transform: translateY(0);
 }
 .divfour{
    width: 30%;
    margin:15px auto;
 }
 .show{
   display: none;
   color: #000;
   position: absolute;
   background-color: yellow;
   width: 10%;
   text-align: center;
   padding: 10px 0px;
   margin: 120px 90px;
 }
 .divfour:hover .show{
   display: block;
 }
 .tohover{
   display: none;
 }

 .img2, .img4{
    width: 50%;
   display: flex;
   justify-self: center;
 }
 .img2{
    width: 70%;
 }
 .section4{
   padding: 60px;
 }
 .section3{
    gap: 80px;
    width: 90%;
    margin: 50px auto;
 }
  .fa-star{
    color: yellow;
   
 }
 .img4{
   width: 60%;
   margin: 30px;
 }
 .dish{
    color: red;
 }
 span{
    color: yellow;
 }
 .liboard{
    width: 75px;
    padding: 7px 0px;
    text-align: center;
    
    background-color: white;
 }
 .pone{
    width: 35%;
    justify-self: center;
 }
 
 .star{
    display: flex;
    justify-content: center;
 }
 .img4{
    width: 60%;
 }
 .section4{
    text-align: center;
 }
 
 .ulone, .list2{
    display: flex;
    list-style-type: none;
    gap: 50px ;
    justify-self: center;
 }
 .section5{
    font-size: 25px;
    align-items: center;
    background-image: url(hero-bg.jpg);
    background-repeat: no-repeat;

 }
 .foodie{
    margin: 70px;
 }
 .imgfood{
    width: 600px;
 }
 .pfood{
    width: 88%;
    line-height: 28px;
 }
 p{
    font-size: 18px;
 }
 .section6{
    display: flex;
    /* align-items: center; */
    gap: 60px;
 }
 .img6{
    height: 400px;
 }
 .divsix{
    width: 28%;
    margin: 55px;
    line-height: 30px;
 }
 .deliveryp{
 width: 150%;
 margin: 20px 5px;
 }
 .divseven{
    display: flex; 
 }
 .dseven{
    margin: 5px;
    background-color: white;
         
 }
 .img7{
    width: 20%;
    margin: 20px;
    border-radius: 50%;
    
 }
 .avatar{
   display: flex;
   align-items: center; 
 }
 .pavatar{
   width: 90%;
   margin: 10px auto;
 }
 .section7{
    justify-items: center;
    padding: 60px;
    
 }
 .div81{
    background-image: url(banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3px 20px;
    
 }
 .div82{
    background-image: url(banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 30px;
    
    
 }
 
 .div83{
    background-image: url(banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px; 
 }
 .div84{
    background-image: url(banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px;
 }
 .section8{
    display: flex;
    width: 70%;
    margin:40px auto;  
 }
 .tfood{
   width: 50%;
 }
  .div822{
    display: flex;
    margin: 18px auto;
    gap: 10px;
    
  }
  .h11{
    color: white;
  }
  .section9{
    text-align: center;
    padding: 30px;
    font-size: 10px;
   
  }
  .blog{
    display: flex;
    width: 90%;
    justify-self: center;
  }
  .imgblog{
    width: 100%;
  }
  .blog1{
    background-color: white;
    margin:10px;
  }
  .div9{
   padding: 30px;
  }
  .all{
   background-color: yellow;}
   .mark{
      background-color: yellow;
      color: white;
      border-radius: 50%;
}
.price{
   color: red;
}
.linet{
   color: grey;
   text-decoration: line-through;
}
.discount{
   width: 35%;
   color: white;
   background-color: red;
   margin: 10px 10px ;
   padding: 10px;  
}
.white{
   color: white;
}
.mob{
   display: none;
} 
  @media screen and (max-width:500px) {
   .desktop{
      display: none;
   }
   
   .container{
      width: 99%;
      overflow: hidden;
   }
   .hero1{
      margin: auto;
   }
   .lone{
   display: none; 
}
.show{
   width: 30%;
   text-align: center;
   padding: 10px 0px;
   margin: 120px 15px;
}
.liboard{
   font-size: 14px;
   text-align: center;
}

.lone a{
   color: #000;
}
.mob{
   padding: 0px 20px;
}
.ham{
   position: relative;
   font-size: smaller;
   margin: 0px 50px;
}
.ham:hover .lone{
   display: flex;
   flex-direction: column;
   background-color: #fff;
   gap: 10px;
   padding: 8px 15px;
   list-style-type: none;
   position: absolute;
   top: 10px;
}
.cali{
   font-size: 20px;
}
.pcali{
   font-size: 15px;
}
.calip{
   font-size: 15px;
}
.pone{
   width: 100%;
   font-size: 15px;
}
.mob{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   position: fixed;
    background-color: rgba(165, 42, 42, 0.315);
}

     .section1, .section2, .section3, .div4, .list2, .section6, .section5, .section9 {
        flex-direction: column;
    }
    .divseven, .div822, .blog{
      flex-direction: column;
    }
    .divfour, .dseven, .blog1{
      width: 100%;
    }
    .discount{
      width: 50%;
    }
    .hfood{
      font-size: 20px;
      color: white;
    }
    
   
    .ulone, .star{
      flex-direction: column;
    }
    .reserve.desktop{
      display: none;
    }
  

 .div81{
    background-image: url(banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
 }
 .div82{
    background-image: url(banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
 }
 
 .div83{
    background-image: url(banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
 }
 .div84{
    background-image: url(banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 }
 .section8{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 70px;
    margin-top: 60px;  
 }
 .tfood{
   width: 100%;
 }
  .div822{
    display: flex;
    margin: 18px auto;
    gap: 10px;
    
  }
  
    .div2{
        width: 90%;
        margin: 20px;
    }
    .img2, .imgfood, .img6{
      width: 70%;
    }
    .super{
      font-size: 20px;
      width: 100%;
    }
    .imghero{
      display: none;
    }
    .pfood{
      font-size: 15px;
      width: 270px;
      text-align: center;
      color: white;
    }
    .hfoods{
     
      font-size: 20px;
      width: 200px; 
    }
    .deliveryp{
 
 font-size: 15px;
 width: 250px;
    }
    .preserve{
      justify-self: center;
    }
    .banner{
      width: 100%;
    }
    .hcust{
      font-size: 15px;
    }
    .pcust{
      font-size: 15px;
    }
    .section9{
    text-align: center;
    margin-top:auto;
   }
   .section8{
    width: 100%;
    margin:40px auto;
}
  }
  @media screen and (min-width:501px) and (max-width:900px) {
   .container{
      width: 100%;
   }
   *{
      width: 100%;
   }
   .ulone{
      padding: 0;
   }
   .show{
   width: 15%;
   text-align: center;
   padding: 10px 0px;
   margin: 120px 15px;
}
   .desktop{
      
      width: 100%;
      padding: 5px 10px;
      justify-content: space-evenly;
   }
   .super{
      font-size: 25px;
      margin: 30px 0;
   }
   .pfoods{
      margin: 10px 0;
   }
   .section1{
          border: 2px solid rgb(78, 77, 77);

      align-items: center;
   }
   .phero{
      padding: 20px;
   }
   .imghero{
      width: 70%;   
   }
   .section1{
      display: flex;
      align-items: center;
   }
   .section2, .star{
      flex-direction: column;
   }
   .div2{
      width: 50%;
   }
   .pone{
      font-size: 15px;
   }
   .discount{
      width: 50%;
   }
   .banner, .imgfood{
      width: 80%;
   }
   .section8{
      margin: 10px;
   }
  }
  @media screen and (min-width:901px) and (max-width:1024px) {
   .super{
      font-size: 40px;
      margin: 20px;
   }
   .pfoods{
margin: 10px;
   }
   .foods{
      font-size: 15px;
   }
  }