 .container{
    /* margin: 60px auto; */
    background-color: palegoldenrod;
 }
 
 
 nav{
    display: flex;
    position: relative;
    border-bottom: 1px solid white;
    
 }
 .ulone{
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 30px;
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
 }
 .super{
    font-size: 60px;
 }
 .hero1{
    margin: 50px;
    /* border: 1px solid red; */
    width: 50%;
    color: white;
 }
 .imghero{
    width: 90%;
    margin: 40px;
 }
 a{
 text-decoration: none;
 color: white;
 }
 .reserve{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
 }
 .about{
    width: 40%;
 }
 .section1, .section2, .section3, .div4, .section5, .section{
    display: flex;
 }
 .hero{
      background-image: url(hero-bg.jpg);
      background-repeat: no-repeat;
 }
 .hero1{
    align-items: center;
 }
 
 
 .div2, .divfour{
    margin: 150px auto;
    background-color: white;
    text-align: center;
    height: 450px;
    width: 19%;
 }
 .divfour{
    width: 30%;
    margin: 20px;
 }

 .img2, .img4{
    width: 50%;
   display: flex;
   justify-self: center;
 }
 .img2{
    width: 70%;
 }
 .section3{
    gap: 80px;
    width: 90%;
    margin: 50px auto;
 }
 .fa-check, .fa-star{
    color: yellow;
 }
 .dish{
    color: red;
 }
 span{
    color: yellow;
 }
 .liboard{
    /* border: 1px solid red; */
    width: 65px;
    background-color: white;
 }
 .pone{
    /* border: 1px solid red; */
    width: 35%;
    justify-self: center;
 }
 .div4{
    justify-content: center;
    width: 100%;
    /* font-size: 10px; */
    height: 400px;

 }
 .star{
    display: flex;
    justify-content: center;
 }
 .img4{
    width: 70%;
    padding: 30px;
 }
 .section4{
    text-align: center;
    margin: 70px ;
    margin-bottom: 80px;
 }
 ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-self: center;
 }
 .section5{
    /* border: 2px solid red; */
    font-size: 25px;
    align-items: center;
    background-image: url(hero-bg.jpg);
    background-repeat: no-repeat;

 }
 .foodie{
    margin: 70px;
 }
 .imgfood{
    width: 600px;
 }
 .pfood{
    /* border: 1px solid red; */
    width: 78%;
 }
 p{
    font-size: 18px;
 }
 .section6{
    /* border: 2px solid red; */
    /* width: 70%; */
    display: flex;
 }
 .img6{
    width: 100%;
    height: 400px;
 }
 .divsix{
    /* border: 1px solid red; */
    width: 47%;
    margin: 80px;
 }
 .divseven{
    display: flex;
    width: 70%;
    
 }
 .dseven{
    /* border: 1px solid red;    */
    margin: 10px;
    background-color: white;
 }
 .img7{
    width: 30%;
    border-radius: 50%;
    
 }
 .section7{
    justify-items: center;
 }
 .div81{
    background-image: url(banner-1.jpg);
    background-repeat: no-repeat;
    width: 50%;
 }
 .div82{
    background-image: url(banner-2.jpg);
    background-repeat: no-repeat;
    width: 300px;
    
 }
 .div83{
    background-image: url(banner-3.jpg);
    background-repeat: no-repeat;
    width: 300px;
    
 }
 .div84{
    background-image: url(banner-4.jpg);
    background-repeat: no-repeat;
    width: 700px;
 }
 .section8{
    display: flex;
    /* border: 2px solid red; */
 }
  .div822{
    display: flex;
    gap: 30px;
    
  }
  .h11{
    color: white;
  }
  .section9{
    text-align: center;
  }
  .blog{
    display: flex;
    
  }
  .imgblog{
    width: 50%;
  }
  .blog1{
    /* border: 1px solid red; */
    background-color: white;
    margin: 20px;
    width: 30%;
  }
 
  @media screen and (max-width:426px) {
     .section1, .section2, .section3 {
        flex-direction: column;
    }
    .div2{
        width: 100%;
    }
  }
 